# commands:
#  01_create_virtualenv:
#    command: "/usr/bin/python3 -m venv /var/app/staging/venv_eb"
#    ignoreErrors: false

#  02_install_requirements:
#    command: "/var/app/staging/venv_eb/bin/pip install -r /var/app/staging/requirements.txt"
#    ignoreErrors: false

#  03_activate_virtualenv:
#    command: "source /var/app/staging/venv_eb/bin/activate"
#    ignoreErrors: false

option_settings:
  aws:elasticbeanstalk:container:python:
    Version: "3.11"
